/* ---------------- */
/* Setup */

html { background: #f2f2f2; font-family: Arial, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; }
html, body { width: 100%; height: 100%; }

div, a, span { -webkit-tap-highlight-color: rgba(0,0,0,0); }

a { color: #ff0000; }
a:hover { text-decoration: none; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; overflow: hidden; line-height: 1px; font-size: 1px; }

@font-face {
    font-family: 'dincond-boldbold';
    src: url('fonts/ff_din_condensed_bold-webfont.eot');
    src: url('fonts/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dincond-regularregular';
    src: url('fonts/ff_din_condensed_regular-webfont.eot');
    src: url('fonts/ff_din_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_regular-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_regular-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_regular-webfont.svg#dincond-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 { color: #414042; /*color: #e82c2e;*/ font-family: 'dincond-boldbold'; font-size: 2.9em; line-height: 1em; letter-spacing: -0.05em; padding-bottom: 15px; }
h2 { color: #414042; font-family: 'dincond-regularregular'; font-size: 1.8em; letter-spacing: -0.05em; padding-bottom: 15px; text-transform: uppercase; }
h2 span { font-family: 'dincond-boldbold'; }
h3 { color: #666766; font-family: 'dincond-boldbold'; font-size: 1.4em; letter-spacing: -0.05em; padding-bottom: 15px; }
h3 span { color: #e9292f; }

p { font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; line-height: 1.5em; padding-bottom: 15px; }
p.large { font-size: 1.05em; line-height: 1.4em; }
p a { color: #e9292f; }
p strong { font-weight: bold; }
p em { font-style: italic; }

/* forms */

ul.form { }
ul.form li { overflow: hidden; padding-bottom: 10px; }
ul.form li label { display: block; font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; }
ul.form input,
ul.form textarea,
ul.form select { font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; resize: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; width: 40%; border: none; background: #fff; border: 1px solid #ddd; border-radius: 0; }
ul.form input,
ul.form textarea { padding: 5px; }
ul.form select { padding-left: 2px; }
ul.form li.validation span { font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; }
ul.form li.validation input { width: 28px; text-align: center; }
ul.form .button { display: inline-block; background: #e9292f; font-family: 'Source Sans Pro', sans-serif; color: #fff; font-size: 0.85em; padding: 10px 28px; -webkit-transition: 200ms all ease; -moz-transition: 200ms all ease; -o-transition: 200ms all ease; -ms-transition: 200ms all ease; transition: 200ms all ease; }
ul.form .button:hover { opacity: 0.65; }

::-webkit-input-placeholder { color: #d5d5d5; font-style: italic; }
:-moz-placeholder { /* Firefox 18- */ color: #d5d5d5; font-style: italic; }
::-moz-placeholder { /* Firefox 19+ */ color: #d5d5d5; font-style: italic; }
:-ms-input-placeholder { color: #d5d5d5; font-style: italic; }

/* ---------------- */
/* Main Layout */

header > div,
article > div,
footer > div { position: relative; max-width: 1160px; min-height: 30px; margin: 0 auto; padding: 0 10px; }

#main { padding: 20px 0; -webkit-transition: 1000ms all ease; -moz-transition: 1000ms all ease; -o-transition: 1000ms all ease; -ms-transition: 1000ms all ease; transition: 1000ms all ease; }
#wrapper { overflow: hidden; }

#splash { background: rgba(140,0,0,0.3); }
#text { padding: 20px; background: #fff; }

/* content page */

#splash { float: none; width: 100%; }
#splash > img { max-width: 100%; height: auto; display: block; }

.splash-bottom { background: #ccc; padding: 15px 0; }
.splash-inner { position: relative; max-width: 1160px; margin: 0 auto; padding: 0 10px; }

#splash .splash-bottom a { position: relative; display: block; color: #fff; overflow: hidden; z-index: 10; text-decoration: none; }
#splash .splash-bottom a strong { display: inline-block; font-family: 'dincond-boldbold'; font-size: 6em; line-height: 1em; text-transform: uppercase; letter-spacing: -0.05em; vertical-align: middle; }
#splash .splash-bottom a span { display: inline-block; font-family: 'dincond-regularregular'; font-size: 2.8em; line-height: 1em; max-width: 220px; opacity: 0.65; letter-spacing: -0.05em; padding-left: 0.75em; vertical-align: middle; }
#splash .splash-bottom > .splash-inner > span { position: absolute; right: 10px; bottom: 0px; color: #fff; }

/* ---------------- */
/* Header */

/* ---------------- */
/* Content */

/* ---------------- */
/* Footer */


/* ---------------- */
/* Responsive */
/* ---------------- */
/* Responsive */

/* high res */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#logo { -webkit-background-size: 960px 600px; }

	#logo { background-position: -480px 0; }
}

@media only screen and (min-width: 1176px) {

	/* maps */

	#map { height: 350px; }

	/* Header */

	/* Footer */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

	/* maps */

	#map { height: 300px; }

	/* Main Layout */

	header > div { padding-top: 10px; }

	.col-3 #content,
	.col-2 #content { width: 70%; }
	#narrow { float: left; width: 30%; }
	.col-3 #narrow #other,
	.col-3 #narrow #links { float: none; width: 100%; padding: 0; }
	.col-2 #links { width: 30%; }

	.touch #nav { position: absolute; right: 0; width: 50%; margin-left: 50%; }

	/* Footer */

	#footer-text { float: none; width: 100%; }

	footer ol { float: none; width: 100%; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

	/* Main Layout */

	.col-3 #content,
	.col-2 #content { width: 65%; }
	#narrow { float: left; width: 35%; }
	.col-2 #links { width: 35%; }

	/* splash */

	#splash .splash-bottom a { padding-bottom: 15px; }
	#splash .splash-bottom a strong { display: block; }
	#splash .splash-bottom a span { display: block; padding: 0 0 10px; max-width: 100%; }
	#splash .splash-bottom > .splash-inner > span  { right: auto; left: 10px; }
}

@media only screen and (max-width: 767px) {
  
	html { font-size: 0.65em; }

	/* Main Layout */

	header > div { padding: 10px 0; }
	footer > div { padding: 0 0 10px; }

	#main { position: relative; clear: both; padding: 10px 0; }

	#links,
	#content,
	#other { float: none; width: 100%; padding: 0; }

	.col-2 #links,
	.col-2 #content,
	.col-3 #links,
	.col-3 #content,
	.col-3 #other { float: none; width: 100%; }

	/* maps */

	#map { height: 200px; }

	/* Header */


	/* splash */

	#splash .splash-bottom a { padding-bottom: 15px; }
	#splash .splash-bottom a strong { display: block; }
	#splash .splash-bottom a span { display: block; padding: 0 0 10px; max-width: 100%; }
	#splash .splash-bottom > .splash-inner > span  { right: auto; left: 10px; }

	/* Footer */

	#footer-text { float: none; width: 100%; }
	footer ol { display: none; }
}