/* ---------------- */
/* Setup */

html { background: #f2f2f2; font-family: Arial, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; }
html, body { width: 100%; height: 100%; }

div, a, span { -webkit-tap-highlight-color: rgba(0,0,0,0); }

a { color: #ff0000; }
a:hover { text-decoration: none; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; overflow: hidden; line-height: 1px; font-size: 1px; }

@font-face {
    font-family: 'dincond-boldbold';
    src: url('fonts/ff_din_condensed_bold-webfont.eot');
    src: url('fonts/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dincond-regularregular';
    src: url('fonts/ff_din_condensed_regular-webfont.eot');
    src: url('fonts/ff_din_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ff_din_condensed_regular-webfont.woff') format('woff'),
         url('fonts/ff_din_condensed_regular-webfont.ttf') format('truetype'),
         url('fonts/ff_din_condensed_regular-webfont.svg#dincond-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 { color: #414042; /*color: #e82c2e;*/ font-family: 'dincond-boldbold'; font-size: 3.2em; line-height: 1em; letter-spacing: -0.05em; padding-bottom: 15px; }
h2 { color: #414042; font-family: 'dincond-regularregular'; font-size: 1.8em; letter-spacing: -0.05em; padding-bottom: 15px; text-transform: uppercase; }
h2 span { font-family: 'dincond-boldbold'; }
h3 { color: #666766; font-family: 'dincond-boldbold'; font-size: 1.4em; letter-spacing: -0.05em; padding-bottom: 15px; }
h3 span { color: #e9292f; }

p { font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; line-height: 1.5em; padding-bottom: 15px; }
p.large { font-size: 1.05em; line-height: 1.4em; }
p a { color: #e9292f; }
p strong { font-weight: bold; }
p em { font-style: italic; }

/* forms */

ul.form { }
ul.form li { overflow: hidden; padding-bottom: 10px; }
ul.form li label { display: block; font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; }
ul.form input,
ul.form textarea,
ul.form select { font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; resize: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; width: 40%; }
ul.form input,
ul.form textarea { padding: 5px; }
ul.form select { padding-left: 2px; }
ul.form li.validation span { font-family: 'Source Sans Pro', sans-serif; color: #414042; font-size: 0.85em; }
ul.form li.validation input { width: 28px; text-align: center; }
ul.form .button { display: inline-block; background: #e9292f; font-family: 'Source Sans Pro', sans-serif; color: #fff; font-size: 0.85em; padding: 10px 28px; -webkit-transition: 200ms all ease; -moz-transition: 200ms all ease; -o-transition: 200ms all ease; -ms-transition: 200ms all ease; transition: 200ms all ease; }
ul.form .button:hover { opacity: 0.65; }

::-webkit-input-placeholder { color: #d5d5d5; font-style: italic; }
:-moz-placeholder { /* Firefox 18- */ color: #d5d5d5; font-style: italic; }
::-moz-placeholder { /* Firefox 19+ */ color: #d5d5d5; font-style: italic; }
:-ms-input-placeholder { color: #d5d5d5; font-style: italic; }

/* ---------------- */
/* Main Layout */

header > div,
article > div,
footer > div { position: relative; max-width: 1160px; min-height: 30px; margin: 0 auto; padding: 0 10px; }

#main { padding: 20px 0; -webkit-transition: 1000ms all ease; -moz-transition: 1000ms all ease; -o-transition: 1000ms all ease; -ms-transition: 1000ms all ease; transition: 1000ms all ease; }
#wrapper { overflow: hidden; }

#splash { display: none; background: rgba(140,0,0,0.3); }
#text { padding: 20px; background: #fff }

/* content page */

#splash { float: none; width: 100%; }
#splash > img { max-width: 100%; height: auto; display: block; }

/* ---------------- */
/* Header */

/* ---------------- */
/* Content */

/* ---------------- */
/* Footer */


/* ---------------- */
/* Responsive */

@media only screen and (min-width: 1176px) {

	/* Header */
	
	/* Footer */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/* Main Layout */
	
	/* Footer */
}

@media only screen and (max-width: 767px) {

	/* Header */
	

	/* Main Layout */
	
	
	/* Footer */
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	/* Header */
}